.about {
    z-index: 3;

    background: linear-gradient(white 23%, rgb(255, 164, 193) 90%);

    .info {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-text {
        margin-right: 20px;
        text-align: center;
        p {
            font-size: 10px;
            margin-top: 40px;
        }
        padding-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .photo-container {

        display: flex;
        justify-content: center;

        img {
            width: 300px;
            height: 300px;
        }
    }
}

.divider-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 50px;

    img {
        width: 300px;
        height: 20px;
    }
}

.revista-container, .form {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
    }

    img {
        width: 40%;
        max-width: 600px;
        margin-top: 40px;
        border: 2px #111 solid;
        border-radius: 12px;
    }
    a {
        margin-top: 20px;
        max-width: 20ch;
        text-align: center;
        text-decoration: none;
        color: black;
        border: 2px #111 solid;
        padding: 0.5em;
        border-radius: 15px;
        transition: 200ms ease-in-out;
    }
    a:hover {
        background: rgb(158, 0, 50);
        color: white;
        transform: scale(1.1);
    }
    a:active {
        transform: scale(0.8);
    }
}

.form {
    padding-bottom: 50px;
    background: linear-gradient(white 10%, rgb(255, 192, 212) 40%, white);
}
.aboutSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-text, .revista-container {
    max-width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
    background:transparent;
}

@media (min-width: 1000px) {
    .about-text p {
        font-size: 0.9rem !important;
    }
}