.wrapper {

    .info {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-text {
        margin-right: 20px;
        text-align: right;
        p {
            font-size: 10px;
        }
        padding-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .photo-container {

        display: flex;
        justify-content: center;

        img {
            width: 300px;
            height: 300px;
        }
    }
}