.about {
    z-index: 3;
    .info {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-text {
        margin-right: 20px;
        text-align: center;
        p {
            font-size: 10px;
            margin-top: 40px;
        }
        padding-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .photo-container {

        display: flex;
        justify-content: center;

        img {
            width: 300px;
            height: 300px;
        }
    }
}

.divider-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

    img {
        width: 300px;
        height: 20px;
    }
}

.revista-container, .form {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
    }

    img {
        width: 40%;
        max-width: 600px;
        margin-top: 40px;
        border: 2px #111 solid;
        border-radius: 12px;
    }
    a {
        margin-top: 20px;
        max-width: 20ch;
        text-align: center;
        text-decoration: none;
        color: black;
        border: 2px #111 solid;
        padding: 0.5em;
        border-radius: 15px;
    }
}

.form {
    padding-bottom: 100px;
}