.wrapper {

    height: 300vh;

    .info {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-text {
        margin-right: 20px;
        text-align: center;
        p {
            font-size: 10px;
            margin-top: 40px;
        }
        padding-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .photo-container {

        display: flex;
        justify-content: center;

        img {
            width: 300px;
            height: 300px;
        }
    }

    .divider-container {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;

        img {
            width: 300px;
            height: 20px;
        }
    }

    .revista-container {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            text-align: center;
        }

        img {
            width: 40%;
            height: 40%;
            margin-top: 40px;
            border: 2px #111 solid;
            border-radius: 12px;
        }

        p {
            margin-top: 20px;
            max-width: 20ch;
            text-align: center;
        }
    }

    .contribute {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0.5em;

        h1 {
            text-align: center;
            font-size: 1.5rem;
        }

        .pl, .pr {
            padding: 0.75em;
            width: fit-content;
            max-width: 65%;
            border-radius: 15px;
            box-shadow: 2px 2px black;
        }

        .pl {
            margin-top: 20px;
            background-color: #AF253E;
            padding-left: 10px;
            align-self: flex-start;
            
            ul {
                list-style: none;
            }
        }

        .pr {
            margin-top: 20px;
            padding-right: 10px;
            align-self: flex-end;
            background-color: #837f7f;
        }
    }

}