.chat {
    z-index: 3;
    width: 100%;
    background: linear-gradient(rgb(255, 164, 193), white 90%);

    .contribute {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0.5em;

        h1 {
            text-align: center;
            font-size: 1.5rem;
        }

        .pl, .pr {
            padding: 0.5em;
            font-size: 0.9rem;
            width: fit-content;
            max-width: 55%;
            border-radius: 15px;
            box-shadow: 2px 2px black;
        }

        .pl {
            margin-top: 20px;
            background-color: rgba(210, 0, 66, 0.8);
            padding-left: 10px;
            align-self: flex-start;
            
            ul {
                list-style: none;
            }
        }

        .pr {
            margin-top: 20px;
            padding-right: 10px;
            align-self: flex-end;
            background-color: #ff92b5;
        }
    }
}

@media (min-width: 1000px) {
    .chat {
        .contribute {
            h1 {
                font-size: 1.8rem;
                margin-bottom: 50px;
            }

            .pl, .pr {
                padding: 0.5em;
                font-size: 1.1rem;
                width: fit-content;
                max-width: 50%;
                border-radius: 15px;
            }
        }
    }
}