.chat {
    width: 100%;
    .contribute {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0.5em;

        h1 {
            text-align: center;
            font-size: 1.5rem;
        }

        .pl, .pr {
            padding: 0.75em;
            width: fit-content;
            max-width: 65%;
            border-radius: 15px;
            box-shadow: 2px 2px black;
        }

        .pl {
            margin-top: 20px;
            background-color: #AF253E;
            padding-left: 10px;
            align-self: flex-start;
            
            ul {
                list-style: none;
            }
        }

        .pr {
            margin-top: 20px;
            padding-right: 10px;
            align-self: flex-end;
            background-color: #837f7f;
        }
    }
}