.header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    height: 70px;
    
    z-index: 2;

    .icon {
        width:50px;
        height: 30px;
        background: #9C0032;
    }

    .title {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: 'EB Garamond', serif;
        font-weight: 600;
        color: #fff;
    }

    .hamburger {
        cursor: pointer;
        color: #fff;
    }
}