.intro {

    img {
        width: 100vw;
        height: 70vh;

        position: absolute;
        left: 0;
        right: 0;
        top: 0;

        object-fit: cover;
        filter: brightness(30%);

        // mask-image: url("../assets/triangle-down-svgrepo-com.svg");
        mask-image: linear-gradient(#000, rgba(0, 0, 0, 0) 70%);
        mask-size: contain;
        mask-repeat: no-repeat;

        // -webkit-mask-image: url("../assets/triangle-down-svgrepo-com.svg");
        -webkit-mask-image: linear-gradient(#000, rgba(0, 0, 0, 0) 70%);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
    }

    .intro-color-mask {
        height: 100vh;
        //background-color: #111;
        filter: opacity(50%);

        // mask-image: url("../assets/triangle-down-svgrepo-com.svg");
        mask-image: linear-gradient(#000, rgba(0, 0, 0, 0) 30%);
        mask-size: contain;
        mask-repeat: no-repeat;

        // -webkit-mask-image: url("../assets/triangle-down-svgrepo-com.svg");
        -webkit-mask-image: linear-gradient(#000, rgba(0, 0, 0, 0) 30%);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
    }
    
}

.intro-text {

    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    line-height: 1.7rem;

    h1 {
        font-weight: 800;
    }

    h2 {
        font-weight: 500;
    }

    button {
        border: 3px #111 solid;
        border-radius: 5px;
        margin-top: 20px;
        width: 8rem;
        padding: 2px;
        background-color: antiquewhite;
        transition: 1s;
    }

    width: 100%;
    height: 40vh;
}