@import url("header.scss");
@import url("intro.scss");

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.root {
    min-width: 100%;
    min-height: 100%;
}

.content {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
}