
// fonts
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');


// components
@import url("header.scss");
@import url("intro.scss");
@import url("about.scss");



* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Libre Bodoni', serif;
}

html, body {
    width: 100%;
    height: 100%;
}

.root {
    min-width: 100%;
    min-height: 100%;
}

.content {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
}